.header-center {
    text-align: center;
}

.aberto-cell {
    text-align: center;
    background-color: DodgerBlue;
}

.em-edicao-cell {
    text-align: center;
    background-color: MediumSpringGreen;
}

.em-revisao-cell {
    text-align: center;
    background-color: gold;
}

.revisado-cell {
    text-align: center;
    background-color: MediumTurquoise;
}

.aceito-cell {
    text-align: center;
    background-color: mediumslateblue;
}

.cancelado-cell {
    text-align: center;
    background-color: indianred;
}
