body {
    margin: 0;
    padding: 0;
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #061b23, #007FEF);
}

.footerStyle {
    background: #061b23;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer{
    height: 90px;
}
.blue-card {
    border-radius: 10px;
    padding: 20px;
}

.card {
    width: 65%;
    height: 65%;
}

